<nav>
    <ul>
        <li><a <% if (currentPage === 'index') { %> class='active' <% } %> href="/">main</a></li>
        <li><a <% if (currentPage === 'posts') { %> class='active' <% } %> href="/posts">posts</a></li>
    </ul>
</nav>